<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title modalLabel">确认</h4>
      </div>
      <div class="modal-body">
        <!-- <img class="pull-left" src="/images/dashboard/confirm-icon.png"/> -->
        <p class="modal-body-content" >确认</p>
      </div>
      <div class="modal-footer">
        <button class="btn-ok btn btn-warning mrg-right-10" style='width: 100px;' type="button" >确定</button>
        <button class="btn btn-opacity border-primary" type="button" style='width: 100px;' data-dismiss="modal" >关闭</button>
      </div>
    </div>
  </div>
</div>