<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title modalLabel">标题</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">内容</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-opacity border-primary btn-close" type="button" style="width:100px;" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>